html {
  font-family: sans-serif
}

#content {
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.top-banner {
  text-align: center;
}

#uptime {
  padding-top: 10px;
}

.dark-mode {
  background-color: black;
  color: white;
}

.dark-mode a {
  color: yellow;
}

.dark-mode a:visited {
  color: lightgreen;
}
